
.header_bar {
    position: fixed;
    top: 0; /* Ensure it sticks to the top */
    background: #0ea2df;
    color: white;
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    place-items: center;
    border: 1px solid #ccc;
    z-index: 1000; /* Ensure it's above other content */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Optional: Add shadow for visual separation */
}

.ro_flag{
    margin-left:20px;
}

.app_title{
    margin-left:20px;
}

.date_time{
    margin-left: auto;
    margin-right:30px;
}

.page_container{
    margin-top:110px;
    display: flex;
    left:50%;
    flex-direction:column;
    justify-content: center;
    align-items: center;   

    
}

.chart_section_title{

    margin-top:50px;
    justify-content: center;
    align-items: center;
    display:flex;
    font-size:50px;

}

.no_chart{

    justify-content: center;
    align-items: center;
    display:flex;

}

.section_line{
    border: none;
    height: 4px;
    background: linear-gradient(to right, #3abef7, #024870); 
    margin: 20px 0;
}



.table_container {
    margin-top:4%;
    margin-left:5%;
    margin-right:5%;
    margin-bottom:7%;
    display: flex;
    justify-content:center;
    overflow-x: auto;
    overflow-y:scroll;
    max-height:50vh;
    
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  
  table.smallFontTable th,
  table.smallFontTable td {
    font-size: 18px; 
    border: 0px;
  }
  

  .table th,
  .table td {
    padding: 16px;
    text-align: left;
    font-size: 25px; 
    width: 20%;
  }
  
  .table th {
    background-color: #48a9cf;
    color: white;
    font-weight: bold;
  }
  
  .table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .table tr:hover {
    background-color: #f1f1f1;
  }
  
  .table td {
    border-bottom: 1px solid #ddd;
  }
  
  .table td,
  .table th {
    border-right: 1px solid #ddd;
  }
  
  .table td:last-child,
  .table th:last-child {
    border-right: none;
  }

  .chart_container{

    margin-top:2%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

  }


  .open_modal_btn {
    width: 40px;
    height: 40px;
    background-color: #2285f7;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 18px;
    color: white; 
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    margin-left: 20px;
  }
  
  .open_modal_btn:hover {
    background-color: #005bb5; 
    transform: scale(1.1); 
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
  }
  
  .open_modal_btn:active {
    transform: scale(0.95);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  }
  
.aqi_score{
  display:flex;
  flex-direction: row;
  align-items: center;
}

.inside_modal{
  color:black;
}
